<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="[http://www.nlog-project.org/schemas/NLog.xsd](http://www.nlog-project.org/schemas/NLog.xsd)" xsi:schemaLocation="NLog NLog.xsd" xmlns:xsi="[http://www.w3.org/2001/XMLSchema-instance](http://www.w3.org/2001/XMLSchema-instance)">
	<targets>
		<target name="sqlFile" xsi:type="File" fileName="logs/sql-trace.txt" />
		<target name="errorFile" xsi:type="File" fileName="logs/error.txt" />
	</targets>
	<rules>
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="sqlFile" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>